.POPOSSpace {
    width: 100%;
    text-align: center;
    position: relative;
}

.POPOSSpace > img {
    width: 90%;
    height: auto;
    border-radius: 30px;
    transition: width 1s;
}

.POPOSSpace > img:hover {
    width: 100%;
}

.POPOSSpace .POPOSSpace-title {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    text-decoration: none;
}

.POPOSSpace h1 {
    margin: 0;
    font-weight: lighter;
    background-color: rgba(255, 255, 255, 0.9);
    padding: 0.5rem;
    text-align: left;
}

.POPOSSpace .POPOSSpace-info {
    font-size: 16px;
    position: absolute;
    right: 0;
    bottom: 0;
    text-align: right;
    display: inline-block;
    padding: 0.25em 0.5em;
    background-color: rgba(255, 255, 255, 0.9);
}

.space-address {
    font-weight: 400;
    color: cadetblue;
}

.space-hours {
    font-style: italic;
    color: indianred;
}