.Title {
    box-sizing: border-box;
    /* display: flex; */
    justify-content: center;
    align-items: center;
    padding: 1rem;
    margin-bottom: 2em;
    background-color: rgb(192, 45, 26);
    color: white;
}

.container {
    width: 100%;
}

.Title-Subtitle {
    color: rgba(255, 255, 255, 0.75);
}